<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form th:action="@{/api/users/{id}(id=${user.id})}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
        <label for="role">Role:</label>
        <input type="text" id="role" th:field="*{role}" />
        <button type="submit">Update User</button>
    </form>
    <a href="/users">Back to List</a>
</body>
</html>
